<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='index.css')}}">
    <link rel="shortcut icon" href="{{url_for('static',filename='favicon.png')}}">
    <title>Captioninator</title>
</head>
<body>
    <div class="form-container">
        <form action="/" method="post" enctype="multipart/form-data">
            <h1>Captioninator</h1>

            <input type="file" name="image_file" id="imageInput"/>
            <div class="imagebox">
                <img src="{{image_path}}">
            <label>{{file_name}}</label>
            </div>
            
            <input type="submit" value="Upload Image" name="submit_btn" class="btn"/>
            <div class="caption">"{{caption}}"</div>
            <!-- <p>Made with &#x2764; by <a href="https://github.com/ashishyadav2">Ashish.</a></p> -->
        </form>

    </div>
    <script>
    </script>
</body>
</html>